.status-dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
  
  .status-dot.green {
    background-color: #4caf50;
  }
  
  .status-dot.blue {
    background-color: #2196f3;
  }
  
  .status-dot.red {
    background-color: #f44336;
  }